*{margin:0;padding:0}
html{background:#DEDEDE}
body{font-size:18px;line-height:1.5;text-align: justify;font-family:"Helvetica neue", Helvetica, Arial, "MS Trebuchet", sans-serif;margin:10px auto;max-width:600px;color:#212121}
a{color:#B82C2C}
a:hover{color:#912323}
a[lang="se"]:before {content:"";width:16px;height:16px;margin-right: 4px;display:inline-block;background:url(img/se.png) no-repeat 0 0;text-indent:-5000em;vertical-align:middle}
img{border:0}
h1{font-size:2.8em;line-height:1.2;padding:2px 20px;text-align:center;}
h1 a{color:#212121;text-shadow:#fff 0 1px 1px;text-decoration:none}
h1 a:hover{color:#212121}
h1 em{color:#d33;font-style:normal}
h2,h3,h4{font-size:1em}
p,ul,ol{margin-bottom:1em}
h2,p:last-child,ul:last-child,ol:last-child{margin-bottom:5px}
li{margin-bottom:.25em}
ul,ol{padding-left:1.5em}
.subtitle{font-size:.8em;padding:0 100px;text-align:center;margin-bottom:15px}
body > *:not(header):not(address) {background:#fff;border-radius:10px;padding: 15px 20px;margin-bottom:8px}
address{font-style:normal;padding:0 10px 10px;text-align:center;font-size:.7em}
ul.posts{list-style:none;padding:0}
ul.posts time,article footer{color:#aaa;font-size:.8em}
.FlattrButton{margin-bottom:-1px;float:right}
