---
layout: default
title: Pelle Wessman
frontpage: true
---

<nav>
  <h2>Blog Posts</h2>

  <ul class="posts">
    {% assign postsleft=10 %}
    {% for post in site.posts %}
      {% if post.category == null and postsleft != '0' %}
        {% capture postsleft %}{{ postsleft | minus:1 }}{% endcapture %}

        <li class="h-entry">
          <a {% if post.lang == null %}lang="se"{% endif %} class="u-url u-uid p-name" href="{{ post.url }}">{{ post.title }}</a>
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" pubdate>
            - {{ post.date | date_to_string }}
          </time>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="posts-extras">
    <li><a href="/archive">Archive</a></li>
  </ul>
</nav>

<section class="p-author h-card">
  <img class="u-photo" src="/avatar.jpg" alt="" />
  <p>
    Hi, I'm <a class="p-name u-url" rel="me" href="/">Pelle Wessman</a> and this is my blog.<br />
    Here I post whatever stuff I'm currently interested in, may it be coding, knitting, cooking – the future will tell.
  </p>
</section>

<section>
  <h2>Subscribe</h2>
  <p>If you want to follow my blog in a feed reader then I've an <a href="/english.xml" type="application/atom+xml">english only</a> version of my feed as well as a feed with <a href="/all.xml" type="application/atom+xml">all posts</a>.</p>
  <p class="subtome"><input class="btn" type="button" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Subscribe to posts"></p>
</section>

