{% assign post = include.post %}

<div class="indie-actions">
  <indie-action do="like" with="{{ post.url }}">
    <a class="action like" target="_blank" href="https://plus.google.com/share?url={url}">Like</a>
  </indie-action>
  <indie-action do="repost" with="{{ post.url }}">
    <a class="action repost" target="_blank" href="https://twitter.com/intent/tweet?url={url}">Share</a>
  </indie-action>
  <indie-action do="reply" with="{{ post.url }}">
    <a class="action reply" target="_blank" href="https://twitter.com/intent/tweet?url={url}">Reply</a>
  </indie-action>
</div>
