<article
  class="h-entry"
  {% if post.lang == null %}
    lang="se"
  {% elsif post.lang != 'en' %}
    lang="{{ post.lang }}"
  {% endif %}
>

  {% if post.mf-photo != null %}
    <div class="photos">
      {% for photo in post.mf-photo %}
        <img class="u-photo" src="{{photo}}" alt="" />
      {% endfor %}
    </div>
  {% endif %}

  {% if post.title != null %}
    <header>
      <h2 class="p-name">
        {% if post.mf-bookmark %}
          <a class="u-bookmark-of" href="{{post.mf-bookmark | first}}">{{post.title}}</a>
        {% elsif post.mf-bookmark-of %}
          <a class="u-bookmark-of" href="{{post.mf-bookmark-of | first}}">{{post.title}}</a>
        {% elsif post.mf-repost-of %}
          <a class="u-repost-of" href="{{post.mf-repost-of | first}}">{{post.title}}</a>
        {% else %}
          {{post.title}}
        {% endif %}
      </h2>
    </header>
  {% endif %}

  {% if post.mf-in-reply-to != null %}
    <h3 lang="en">In reply to: </h3>
    <ul>
      {% for reply in post.mf-in-reply-to %}
        <li><a class="u-in-reply-to" rel="in-reply-to" href="{{reply}}">{{reply}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="e-content">
    {% if content %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

  {% if post.mf-syndication != null %}
    <div class="elsewhere">
      <h3 lang="en">Also posted on:</h3>
      <ul>
        {% for elsewhere in post.mf-syndication %}
          <li><a href="{{ elsewhere }}" {% if standalone == true %}rel="syndication"{% endif %}>
            {{ elsewhere | remove_first:'http://'  | remove_first:'https://' | remove_first:'www.' | split:'.' | first | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <footer>
    <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" pubdate>
      <a class="u-url u-uid" href="{{ post.url }}">{{ post.date | date_to_long_string }}</a>
    </time>
      by
    <a class="p-author h-card" href="/"><img class="u-photo" src="/avatar.jpg" alt="" /> {{ site.author_name }}</a>

    {% if include.indieactions %}
      {% include indieactions.html post=post %}
    {% endif %}

  </footer>
</article>
