{% assign post = include.post %}
{% assign standalone = include.standalone %}
{% assign indieactions = include.indieactions %}

{% if post.lang == null or post.lang == 'sv' %}
  {% assign swedish = true %}
{% endif %}

{% if post.lang != 'en' %}
  {% assign nonenglish = true %}
{% endif %}

{% if post.mf-like-of != null %}
  {% include post-like.html post=post standalone=standalone indieactions=indieactions %}
{% else %}
  {% include post-content.html post=post standalone=standalone indieactions=indieactions %}
{% endif %}
