<article
  class="h-entry"
  {% if swedish == true %}
    lang="sv"
  {% elsif nonenglish == true %}
    lang="{{ post.lang }}"
  {% endif %}
>

  {% if post.mf-video != null %}
    <div class="media">
      {% for video in post.mf-video %}
        <video class="u-video" src="{{video}}" controls loop>
          <div lang="en">Looks like you can't see this video. <a href="{{video}}" download>Download it</a> instead.</div>
        </video>
      {% endfor %}
    </div>
  {% elsif post.mf-photo != null %}
    <div class="media">
      {% for photo in post.mf-photo %}
        <img class="u-photo" src="{{photo}}" alt="" />
      {% endfor %}
    </div>
  {% endif %}

  {% if post.title != null %}
    <header>
      <h2 class="p-name">
        {% if post.mf-bookmark %}
          <a class="u-bookmark-of" href="{{post.mf-bookmark | first}}">{{post.title}}</a>
        {% elsif post.mf-bookmark-of %}
          <a class="u-bookmark-of" href="{{post.mf-bookmark-of | first}}">{{post.title}}</a>
        {% elsif post.mf-repost-of %}
          <a class="u-repost-of" href="{{post.mf-repost-of | first}}">{{post.title}}</a>
        {% else %}
          {{post.title}}
        {% endif %}
      </h2>
    </header>
  {% endif %}

  {% if post.mf-in-reply-to != null %}
    {% if swedish == true %}
      <h3>Svar på:</h3>
    {% else %}
      <h3{% if nonenglish == true %} lang="en"{% endif %}>In reply to:</h3>
    {% endif %}
    <ul>
      {% for reply in post.mf-in-reply-to %}
        <li><a class="u-in-reply-to" rel="in-reply-to" href="{{reply}}">{{reply}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="e-content">
    {% if content %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

  {% if post.mf-syndication != null %}
    <div class="elsewhere linklist">
      {% if swedish == true %}
        <h3>Också postat på:</h3>
      {% else %}
        <h3{% if nonenglish == true %} lang="en"{% endif %}>Also posted on:</h3>
      {% endif %}
      <ul>
        {% for elsewhere in post.mf-syndication %}
          <li><a href="{{ elsewhere }}" class="u-syndication" {% if standalone == true %}rel="syndication"{% endif %}>
            {{ elsewhere | remove_first:'http://'  | remove_first:'https://' | remove_first:'www.' | split:'.' | first | capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if post.persontags != null %}
    <div class="persons linklist">
      {% if swedish == true %}
        <h3>Nämnda:</h3>
      {% else %}
        <h3{% if nonenglish == true %} lang="en"{% endif %}>Mentioned:</h3>
      {% endif %}
      <ul>
        {% for elsewhere in post.persontags %}
          <li><a href="{{ elsewhere }}" class="u-category h-card">
            {{ elsewhere | remove_first:'http://'  | remove_first:'https://' | remove_first:'www.' | split:'.' | first }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if post.tags.size > 0 %}
    <div class="tags linklist">
      {% if swedish == true %}
        <h3>Taggar:</h3>
      {% else %}
        <h3{% if nonenglish == true %} lang="en"{% endif %}>Tags:</h3>
      {% endif %}
      <ul>
        {% for tag in post.tags %}
          <li class="p-category">{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <footer{% if nonenglish == true %} lang="en"{% endif %}>
    <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" pubdate>
      <a class="u-url u-uid" href="{{ post.url }}">{{ post.date | date_to_long_string }}</a>
    </time>
      by
    <a class="p-author h-card" href="/"><img class="u-photo" src="/avatar.jpg" alt="" /> {{ site.author_name }}</a>

    {% if include.indieactions %}
      {% include indieactions.html post=post %}
    {% endif %}

  </footer>

  <a class="u-responses" href="https://webmention.herokuapp.com/api/mentions?format=html&url={{ site.base_url | cgi_escape }}{{ page.url | cgi_escape }}">See mentions of this post</a>
</article>
