---
layout: default
title: Links
category: links
---

<h2>Links</h2>

{% for post in site.categories.links %}
  {% include post.html post=post %}
{% endfor %}

<section>
  <h2>Subscribe to all links</h2>
  <p>There's a <a href="/links/all.xml" type="application/atom+xml">links feed</a> where you can get all the links I recommend here.</p>
  <p class="subtome"><input class="btn" type="button" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Subscribe to links"></p>
</section>
