<!DOCTYPE html>
<html lang="en" class="{{ page.classes }}">
<head>
  <meta charset="utf-8" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
  <link rel="{% if page.frontpage == null %}home {% endif %}alternate" type="application/atom+xml" href="/all.xml" title="All posts" />
  <link rel="{% if page.frontpage == null %}home {% endif %}alternate" type="application/atom+xml" href="/english.xml" title="English posts" />
  <link rel="canonical" href="{% if page.frontpage == null %}{{ page.url }}{% else %}/{% endif %}" />
  <meta name="twitter:site" content="@voxpelli" />
  {% if page.author != null %}<link rel="author" type="text/html" href="/" title="Pelle Wessman" />{% endif %}
  {% if page.flattrable != null %}<link rel="payment" type="text/html" href="https://flattr.com/submit/auto?url=http%3A%2F%2Fvoxpelli.com{{ page.url | cgi_escape }}&amp;user_id=voxpelli&amp;title={{ page.title | cgi_escape }}&amp;category=text&amp;tags=blog&amp;language={% if page.lang != null %}{{ page.lang | cgi_escape }}{% else %}sv{% endif %}" title="Flattr this post" />{% endif %}
  {% if page.webmentionable != null %}<link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />{% endif %}

  {% if page.frontpage == null %}
    <script type="text/javascript" src="/js/indieconfig.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  {% endif %}
</head>
<body>
  <div class="page{% if page.frontpage != null %} h-feed{% endif %}">
    <header>
      <h1><a href="/">Pelle Wessman</a></h1>
      <div class="subtitle">Things <a {% if page.frontpage != null %}rel="me"{% endif %} href="/about">about me</a> and the world around us</div>
    </header>

    {{ content }}
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6823873-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">
    (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=voxpelli&category=text&popout=1';
      t.parentNode.insertBefore(s, t);
    })();
  </script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</body>
