---
layout: default
author: true
flattrable: true
webmentionable: true
---
{% include post.html post=page indieactions=true standalone=true %}

<div>
  Have you written a response to this? Let me know the URL:
  <form action="https://webmention.herokuapp.com/api/webmention" method="post">
    <input name="source" type="url" placeholder="http://example.com/my-cool-post" />
    <input name="target" value="http://voxpelli.com{{ page.url }}" type="hidden">
    <input value="Send Webmention" type="submit">
  </form>
</div>

<script src="https://webmention.herokuapp.com/js/cutting-edge.js"></script>
