---
layout: default
author: true
flattrable: true
webmentionable: true
---
{% include post.html post=page indieactions=true standalone=true %}

<div>
  Have you written a response to this? Let me know the URL:
  <form action="https://webmention.herokuapp.com/api/webmention" method="post">
    <input name="source" type="url" placeholder="http://example.com/my-cool-post" />
    <input name="target" value="http://voxpelli.com{{ page.url }}" type="hidden">
    <input value="Send Webmention" type="submit">
  </form>
</div>

<script id="webmention-hosted">
  (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    // Using a cutting-edge embed here to try out the possibly upcoming embed solutions
    sn.src = "//webmention.herokuapp.com/api/embed?version=cutting-edge&url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
  }());
</script>
